
.Socials{
    color: whitesmoke;
    font-size: larger;
}
:host {
    position: fixed; 
    width: 100%; 
    padding: 1px; 
    box-sizing: border-box; 
    bottom: 0; 
}
button{
    margin-top: 25px;
    padding: 5px;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0, 181, 0, 0.269);
}
svg{
    color: whitesmoke;
}
.contact{
    color: whitesmoke;
}
button:hover{
    background-color: gray;
}
svg:hover{
    box-shadow: 0 0 5px #ffffff;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    :host {
        position: relative;
        margin-top: 10em;
    }
}