<section>
    <div class="container">
    <h1>About Me</h1>
    <p class="intro">Hi, I'm <span>Melvin James</span> from Bangalore, India</p>
    <p class="Line"> I'm a <span>Tech Enthusiast </span>who aspires to be a <span>Full-stack developer</span></p>
    <ul>
        <h2>My Hobbies</h2>
        <li>solving LeetCode problems</li>
        <li>Web and game development</li>
        <li> Arduino automation</li>
        <li>Raspberry Pi projects</li>
        <li>watching anime and movies  reading mangas and manwhas</li>
        <li>Playing Video Games</li>
    </ul>
    <div class="btn">
    <button><a routerLink="/projects">My Work</a></button>
</div>
</div>
</section>