h1{
    color: whitesmoke;
}
label{
    color: whitesmoke;
}
input{
    background-color: whitesmoke;
}
textarea{
    background-color: whitesmoke;
}
@media screen and (max-width: 468px){
    input::placeholder,textarea::placeholder{
        font-size: x-small;
    }
}