<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" name="b1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" name="b2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" name="b3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3" name="b4"></button>
    </div>
    <div class="carousel-inner carousel-container">
      <div class="carousel-item active">
        <div class="card">
  <img src="assets/Tg.png" class="card-img-top" alt="Description">
  <div class="card-body">
    <h5 class="card-title">Travelers Guide</h5>
    <p class="card-text">This is a Website gives Travelers all the details of a country they want to tour or are currently</p>
    <a href="https://main--travellersguide576.netlify.app/" class="ls"> <i class="fa-solid fa-globe"></i> Live Website</a>
    <a href="https://github.com/melvinjames1/Travelers-Guide" class="sc"><i class="fa-brands fa-github"></i>Source Code</a>
  </div>
</div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="assets/fmv.png" class="card-img-top" alt="Description">
            <div class="card-body">
              <h5 class="card-title">Favourite Movies Blog</h5>
              <p class="card-text">This is a Website that displays My Favourite movies from Bollyhood hollyhood and anime</p>
              <a href="https://main--myfavouritemoviesblog1.netlify.app/Favourite-Movies-Blog/" class="ls"> <i class="fa-solid fa-globe"></i> Live Website</a>
              <a href="https://github.com/melvinjames1/FMB" class="sc"><i class="fa-brands fa-github"></i>Source Code</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="assets/Pomodorotimer.png" class="card-img-top" alt="Description">
            <div class="card-body">
              <h5 class="card-title">Pomodoro Timer</h5>
              <p class="card-text">This Website Allows people to apply the popular technique of pomodoro to thier life</p>
              <a href="https://pomodoro-timer12.netlify.app/" class="ls"> <i class="fa-solid fa-globe"></i> Live Website</a>
              <a href="https://github.com/melvinjames1/pomodoro-timer" class="sc"><i class="fa-brands fa-github"></i>Source Code</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="assets/jj.png" class="card-img-top" alt="Description">
            <div class="card-body">
              <h5 class="card-title">Joke Generator</h5>
              <p class="card-text">This is a Website uses a joke generator api to generate a random joke, built using React</p>
              <a href="https://main--jokegenarator.netlify.app/" class="ls"> <i class="fa-solid fa-globe"></i> Live Website</a>
              <a href="https://github.com/melvinjames1/JokeGenerator" class="sc"><i class="fa-brands fa-github"></i>Source Code</a>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-controls">
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" name="pre">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" name="nex">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  </div>
