
    <section class="Homepage">
      <div class="container">
        <h1>Hi, I'm Melvin James</h1>
        <p>A 20-year-old BCA Student, This is my Personal Portfolio Website Built using Angular Framework. Click on the navbar options to see the rest of the website.</p>
        <button class="b1"><a href="https://github.com/melvinjames1" target="_blank"><i class="fa-brands fa-github"></i></a></button>
        <button class="b2"><a href="https://www.linkedin.com/in/melvin-james-303561255/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></button>
        <button class ="b3"><a href="https://www.instagram.com/melvin._.james/" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>
      </div>
      <div class="circle">
        <img src="/assets/Proflieimg.png">
      </div>
    </section>
 
  
